.block{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background: #5772FF;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    margin-top: 25px;
    border-radius: 20px;
    background: #ffffff;
}
.text{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.text>p{
    display: block;
    text-decoration:none;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 5px;
}

.img_block{
    margin: 0 auto;
    max-width: 200px;
    margin-top: auto;
}