.container{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.title{
    margin: 0 auto;
}

.title>h2{
    font-family: "Russo One";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.3mm;
    text-align: center;
    color: #5772FF;
}

.payment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.text_block{
    margin: 0 30px;
    max-width: 600px;
}

.text_block>h3{
    margin-top: 35px;
    font-family: "Russo One";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.3mm;
    text-align: center;
    color: #5772FF;
    margin-bottom: 5px;
}

.text_block>p{
    text-align: left;
    font-family: "Comfortaa" sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.erip_container{
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.erip_block{
    margin: 0 auto;
    max-width: 800px;
    justify-content: space-between;
    display: flex;
}

.erip_container>h2{
    color: #5772FF;
}